sudo: false
language: c

os:
  - linux
  - osx

compiler:
  - gcc
  - clang

env:
  global:
    # encrypted COVERITY_SCAN_TOKEN from
    # https://scan.coverity.com/projects/<project_id>/submit_build?tab=travis_ci
    - secure: "SwNcek+I4lMVcnb5EGGmNm6ljWN6C/mnXzBr82a5rEQNKxAoJfdvvPpKIp0iEfg5j0PtYlcRHoIDyVZ/6QM/WEw0wrio9Z0cio9hkOS6kV8g2QouXfnoNtKJ5nNso7UD2GPJ9+M0GIR1GZ0Edvxr81sHlNAkpVKydYGBwCIMGyg="
    # Coverity run condition (avoid matrix multiple runs), need customized
    # build script. Need an update if new matrix cases.
    - coverity_scan_run_condition='"$TRAVIS_OS_NAME" = linux -a "$CC" = gcc -a "$REMOTE" = enable -a "$CMAKE" = no'
    # Coverity script test mode (if true no uploading, avoid reaching the quota)
    # usual processing: false.
    - coverity_scan_script_test_mode=false
  matrix:
    #- REMOTE=disable CMAKE=no
    #- ENABLE_REMOTE="" CMAKE=yes
    #- REMOTE=enable CMAKE=no
    #- ENABLE_REMOTE="-DENABLE_REMOTE=ON" CMAKE=yes
    # test when DPDK is enabled
    - ENABLE_DPDK=yes REMOTE=disable CMAKE=no
    - ENABLE_DPDK=yes ENABLE_REMOTE="" CMAKE=yes
    - ENABLE_DPDK=yes REMOTE=enable CMAKE=no
    - ENABLE_DPDK=yes ENABLE_REMOTE="-DENABLE_REMOTE=ON" CMAKE=yes

matrix:
  fast_finish: true

addons:
  coverity_scan:
    # customized build script URL
    # TRAVIS_REPO_SLUG: owner_name/repo_name of repository currently being built
    # TRAVIS_BRANCH: name of the branch currently being built
    build_script_url: https://raw.githubusercontent.com/$TRAVIS_REPO_SLUG/$TRAVIS_BRANCH/.travis-coverity-scan-build.sh
    # project metadata
    project:
      name: $TRAVIS_REPO_SLUG
    # Where email notification of build analysis results will be sent
    #notification_email: tcpdump-workers@lists.tcpdump.org
    # Commands to prepare for build_command
    build_command_prepend: ./configure --enable-remote
    # This command will be added as an argument to "cov-build" to compile
    # the project for analysis
    build_command: make
    # Pattern to match selecting branches that will run analysis
    branch_pattern: coverity_scan
  apt:
    packages:
      - libusb-1.0-0-dev
      - libdbus-glib-1-dev
      - libbluetooth-dev
      - libnl-genl-3-dev
      - libibverbs-dev
      - libnuma-dev

git:
  quiet: true
  depth: 3

before_install:
  - uname -a
  - date
install:

before_script:
  # install linux kernel header for dpdk
  - sudo apt-get install linux-headers-`uname -r`
  # build dpdk and install it to /usr/local/
  - if [ "$ENABLE_DPDK" = yes ]; then git clone https://github.com/DPDK/dpdk.git /tmp/dpdk && export RTE_SDK=/tmp/dpdk && export RTE_TARGET=build && cd /tmp/dpdk/ && make defconfig && sed -i 's/CONFIG_RTE_BUILD_SHARED_LIB=n/CONFIG_RTE_BUILD_SHARED_LIB=y/' $RTE_SDK/$RTE_TARGET/.config && make -s all && sudo make install && cd - ; fi 
  - if [ "$ENABLE_DPDK" = yes ]; then if [ "$CMAKE" = yes ]; then export DPDK_OPT="-DCMAKE_INSTALL_PREFIX=/tmp -DDISABLE_DPDK=OFF -DDPDK_INC_DIR=/usr/local/include/dpdk/ -DDPDK_LIB_DIR=/usr/local/lib"  ;else export DPDK_OPT="--enable-dpdk" ; fi ; fi ; echo -n "DPDK_OPT=${DPDK_OPT}"

script:
  - if [ "$COVERITY_SCAN_BRANCH" = 1 ]; then exit 0; fi
  - touch .devel configure
  - if [ "$CMAKE" = no ]; then echo '$ ./configure [...]' && echo -n travis_fold:start:script.configure; fi
  - if [ "$CMAKE" = no ]; then ./configure --prefix=/tmp "--${REMOTE}-remote" $DPDK_OPT; fi
  - if [ "$CMAKE" = no ]; then echo -n travis_fold:end:script.configure; fi
  - if [ "$CMAKE" = yes ]; then mkdir build; fi
  - if [ "$CMAKE" = yes ]; then cd build; fi
  - if [ "$CMAKE" = yes ]; then echo -n travis_fold:start:script.cmake; fi
  - if [ "$CMAKE" = yes ]; then cmake -DCMAKE_INSTALL_PREFIX=/tmp $ENABLE_REMOTE $DPDK_OPT ..; fi
  - if [ "$CMAKE" = yes ]; then echo -n travis_fold:end:script.cmake; fi
  - make -s all
  - make -s testprogs
  - echo '$ make install [...]' && echo -n travis_fold:start:script.make_install
  - PATH=$PATH make install
  - echo -n travis_fold:end:script.make_install
  - if [ "$CMAKE" = no ]; then testprogs/findalldevstest; fi
  - if [ "$CMAKE" = yes ]; then run/findalldevstest; fi
  - if [ "$CMAKE" = no ]; then make releasetar; fi
