sudo: false
language: c

#
# On macOS:
#
#  gcc is an alias for clang;
#  the "distribution" doesn't matter;
#
# so we set up a ccustom matrix to avoid redundant builds.
#
matrix:
  include:
    - os: linux
      dist: trusty
      compiler: gcc
      env:
        - MATRIX_EVAL="REMOTE=disable && CMAKE=no"
    - os: linux
      dist: trusty
      compiler: clang
      env:
        - MATRIX_EVAL="REMOTE=disable && CMAKE=no"
    - os: linux
      dist: xenial
      compiler: gcc
      env:
        - MATRIX_EVAL="REMOTE=disable && CMAKE=no"
    - os: linux
      dist: xenial
      compiler: clang
      env:
        - MATRIX_EVAL="REMOTE=disable && CMAKE=no"
    - os: macos
      compiler: clang
      env:
        - MATRIX_EVAL="REMOTE=disable && CMAKE=no"
    - os: linux
      dist: trusty
      compiler: gcc
      env:
        - MATRIX_EVAL="ENABLE_REMOTE=\"\" && CMAKE=yes"
    - os: linux
      dist: trusty
      compiler: clang
      env:
        - MATRIX_EVAL="ENABLE_REMOTE=\"\" && CMAKE=yes"
    - os: linux
      dist: xenial
      compiler: gcc
      env:
        - MATRIX_EVAL="ENABLE_REMOTE=\"\" && CMAKE=yes"
    - os: linux
      dist: xenial
      compiler: clang
      env:
        - MATRIX_EVAL="ENABLE_REMOTE=\"\" && CMAKE=yes"
    - os: macos
      compiler: clang
      env:
        - MATRIX_EVAL="ENABLE_REMOTE=\"\" && CMAKE=yes"
    - os: linux
      dist: trusty
      compiler: gcc
      env:
        - MATRIX_EVAL="REMOTE=enable && CMAKE=no"
    - os: linux
      dist: trusty
      compiler: clang
      env:
        - MATRIX_EVAL="REMOTE=enable && CMAKE=no"
    - os: linux
      dist: xenial
      compiler: gcc
      env:
        - MATRIX_EVAL="REMOTE=enable && CMAKE=no"
    - os: linux
      dist: xenial
      compiler: clang
      env:
        - MATRIX_EVAL="REMOTE=enable && CMAKE=no"
    - os: macos
      compiler: clang
      env:
        - MATRIX_EVAL="REMOTE=enable && CMAKE=no"
    - os: linux
      dist: trusty
      compiler: gcc
      env:
        - MATRIX_EVAL="ENABLE_REMOTE=\"-DENABLE_REMOTE=ON\" && CMAKE=yes"
    - os: linux
      dist: trusty
      compiler: clang
      env:
        - MATRIX_EVAL="ENABLE_REMOTE=\"-DENABLE_REMOTE=ON\" && CMAKE=yes"
    - os: linux
      dist: xenial
      compiler: gcc
      env:
        - MATRIX_EVAL="ENABLE_REMOTE=\"-DENABLE_REMOTE=ON\" && CMAKE=yes"
    - os: linux
      dist: xenial
      compiler: clang
      env:
        - MATRIX_EVAL="ENABLE_REMOTE=\"-DENABLE_REMOTE=ON\" && CMAKE=yes"
   - os: macos
      compiler: clang
      env:
        - MATRIX_EVAL="ENABLE_REMOTE=\"-DENABLE_REMOTE=ON\" && CMAKE=yes"

env:
  global:
    # encrypted COVERITY_SCAN_TOKEN from
    # https://scan.coverity.com/projects/<project_id>/submit_build?tab=travis_ci
    - secure: "SwNcek+I4lMVcnb5EGGmNm6ljWN6C/mnXzBr82a5rEQNKxAoJfdvvPpKIp0iEfg5j0PtYlcRHoIDyVZ/6QM/WEw0wrio9Z0cio9hkOS6kV8g2QouXfnoNtKJ5nNso7UD2GPJ9+M0GIR1GZ0Edvxr81sHlNAkpVKydYGBwCIMGyg="
    # Coverity run condition (avoid matrix multiple runs), need customized
    # build script. Need an update if new matrix cases.
    - coverity_scan_run_condition='"$TRAVIS_OS_NAME" = linux -a "$CC" = gcc -a "$REMOTE" = enable -a "$CMAKE" = no'
    # Coverity script test mode (if true no uploading, avoid reaching the quota)
    # usual processing: false.
    - coverity_scan_script_test_mode=false

matrix:
  fast_finish: true

addons:
  coverity_scan:
    # customized build script URL
    # TRAVIS_REPO_SLUG: owner_name/repo_name of repository currently being built
    # TRAVIS_BRANCH: name of the branch currently being built
    build_script_url: https://raw.githubusercontent.com/$TRAVIS_REPO_SLUG/$TRAVIS_BRANCH/.travis-coverity-scan-build.sh
    # project metadata
    project:
      name: $TRAVIS_REPO_SLUG
    # Where email notification of build analysis results will be sent
    #notification_email: tcpdump-workers@lists.tcpdump.org
    # Commands to prepare for build_command
    build_command_prepend: ./configure --enable-remote
    # This command will be added as an argument to "cov-build" to compile
    # the project for analysis
    build_command: make
    # Pattern to match selecting branches that will run analysis
    branch_pattern: coverity_scan
  apt:
    #
    # We can't use dpdk-dev with trusty, only in xenial; Trusty didn't
    # have DPDK support.
    #
    packages:
      - libusb-1.0-0-dev
      - libdbus-glib-1-dev
      - libbluetooth-dev
      - libnl-genl-3-dev
      - libibverbs-dev
      - libnuma-dev

git:
  quiet: true
  depth: 3

before_install:
  - uname -a
  - date
  - eval "${MATRIX_EVAL}"
  - env

install:

before_script:

script:
  - if [ "$COVERITY_SCAN_BRANCH" = 1 ]; then exit 0; fi
  - touch .devel configure
  - if [ "$CMAKE" = no ]; then echo '$ ./configure [...]' && echo -n travis_fold:start:script.configure; fi
  - if [ "$CMAKE" = no ]; then ./configure --prefix=/tmp "--${REMOTE}-remote"; fi
  - if [ "$CMAKE" = no ]; then echo -n travis_fold:end:script.configure; fi
  - if [ "$CMAKE" = yes ]; then mkdir build; fi
  - if [ "$CMAKE" = yes ]; then cd build; fi
  - if [ "$CMAKE" = yes ]; then echo -n travis_fold:start:script.cmake; fi
  - if [ "$CMAKE" = yes ]; then cmake -DCMAKE_INSTALL_PREFIX=/tmp $ENABLE_REMOTE ..; fi
  - if [ "$CMAKE" = yes ]; then echo -n travis_fold:end:script.cmake; fi
  - make -s all
  - make -s testprogs
  - echo '$ make install [...]' && echo -n travis_fold:start:script.make_install
  - PATH=$PATH make install
  - echo -n travis_fold:end:script.make_install
  - if [ "$CMAKE" = no ]; then testprogs/findalldevstest; fi
  - if [ "$CMAKE" = yes ]; then run/findalldevstest; fi
  - if [ "$CMAKE" = no ]; then make releasetar; fi
