Makefile
*~
*.dSYM
*.o
/activatetest
/can_set_rfmon_test
/capturetest
/filtertest
/findalldevstest
/findalldevstest-perf
/nonblocktest
/opentest
/reactivatetest
/selpolltest
/threadsignaltest
/translatetest
/valgrindtest
/versiontest
/writecaptest
